/* stylelint-disable scss/no-global-function-names */
@use 'sass:math';
@import 'null';
@import 'mixins/mixins';

$maxWidthContainer: 1080;
$maxWidth: 1920;

html {
  &._pc {
    margin: 0px calc(-1 * (100vw - 100%)) 0px 0px;
    overflow-x: hidden;
  }
}

body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background: var(--theme-default-bgimage);
  background-color: #10100e;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_wrapper {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

// TITLE
.top {
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 30, 15, 1);
  }
}
.title {
  font-weight: 700;
  line-height: 1.7;
  color: var(--theme-default-header);
  text-shadow: 0px 0px 2px #000;
  letter-spacing: 1.5px;
  transition: color 0.3s ease 0s;
  @include adaptiv-value('font-size', 26, 22, 1);
}

// HEADER
.header {
  @include adaptiv-value('height', 120, 70, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0px 35px 0px 0px;
  @include adaptiv-value('flex-basis', 60, 40, 1);
  @include adaptiv-value('height', 60, 40, 1);
  @media (max-width: 700px) {
    margin-right: 0;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.logo_link {
  display: block;
}
.menu {
  flex: 1 1 auto;
  &_body {
    @media (max-width: 700px) {
      position: fixed;
      top: -100%;
      right: 0;
      left: 0;
      z-index: 102;
      display: block;
      width: 100%;
      height: 100%;
      padding: 120px 15px 30px;
      overflow: auto;
      background-color: rgba(#000, 0.9);
      transition: top 0.6s ease 0s;
      &.active {
        top: 0;
        &::before {
          top: 0;
        }
      }
      &::before {
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 101;
        width: 100%;
        content: '';
        background-color: #000;
        transition: top 0.5s ease 0s;
        @include adaptiv-value('height', 120, 70, 1);
      }
    }
  }
}
.list {
  display: flex;
  align-items: center;
  @media (max-width: 700px) {
    display: block;
    text-align: center;
  }
}
.item {
  &:not(:last-child) {
    margin: 0px 20px 0px 0px;
    @media (max-width: 700px) {
      & {
        margin: 0px 0px 25px 0px;
      }
    }
  }
}
.link {
  min-width: 70px;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 2px #fff, 0 0 10px #ff0;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: border-color 0.4s ease 0s, color 0.4s ease 0s,
    text-shadow 0.4s ease 0s;
  &_active {
    color: #ae72c2;
    text-shadow: none;
    border-color: #ae72c2;
  }
  @media (hover: hover) {
    &:hover {
      color: #ae72c2;
      text-shadow: none;
      border-color: #ae72c2;
    }
  }
}
.icon_menu {
  display: none;
  @media (max-width: 700px) {
    position: relative;
    z-index: 102;
    display: inline-flex;
    flex: 0 0 30px;
    height: 18px;
    margin: 0px 0px 0px 20px;
    span {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s ease 0s;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
    &.active {
      span {
        transform: scale(0);
        &:first-child {
          top: calc(50% - 1px);
          transform: rotate(-45deg);
        }
        &:last-child {
          bottom: calc(50% - 1px);
          transform: rotate(45deg);
        }
      }
    }
  }
}
.favorites {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  @include adaptiv-value('flex-basis', 35, 30, 1);
  @include adaptiv-value('height', 35, 30, 1);
}
.go_to_favorites {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  span {
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    transition: color 0.2s ease 0s;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: #f75d83;
    transition: fill 0.3s ease 0s;
  }
  @media (hover: hover) {
    &:hover {
      span {
        color: #f52c5e;
      }
      svg {
        fill: #f52c5e;
      }
    }
  }
}

// CONTENT_WRAPPER
.content_wrapper {
  padding-top: 25px;
  @include adaptiv-value('padding-bottom', 50, 25, 1);
}

// HOME
.home {
  &_cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(auto, 250px));
    grid-auto-flow: row;
    gap: 20px;
    @media (max-width: 380px) {
      justify-content: center;
    }
  }
  &_card {
    position: relative;
    padding: 0px 0px math.div(450px, 250px) * 100% 0px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 16px 24px 2px rgba(#000, 0.5), 0 6px 30px 5px rgba(#000, 0.1),
      0 8px 10px -5px rgba(#000, 0.2);
    transition: all 0.7s;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: grayscale(1);
      border-radius: 8px;
      transition: all 0.7s ease 0s;
      object-fit: cover;
    }
    @media (hover: hover) {
      &:hover {
        img {
          filter: grayscale(0);
          transform: scale(1.05);
        }
        &:first-child {
          box-shadow: 0 0 10px 4px rgba(41, 229, 45, 0.4);
          p {
            color: #29e52d;
            text-shadow: 0px 0px 5px #29e52d;
          }
        }
        &:nth-child(2) {
          box-shadow: 0 0 10px 4px rgba(216, 34, 40, 0.4);
          p {
            color: #d82228;
            text-shadow: 0px 0px 5px #d82228;
          }
        }
        &:last-child {
          box-shadow: 0 0 10px 4px rgba(224, 224, 81, 0.4);
          p {
            color: #ff0;
            text-shadow: 0px 0px 5px #ff0;
          }
        }
      }
    }
  }
  &_text {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    letter-spacing: 3px;
    transition: all 0.7s ease 0s;
  }
}

// PEOPLE
.people {
  margin: 25px 0px 0px 0px;
  overflow: hidden;
  button {
    padding: 10px;
    color: #000;
    background-color: #fff;
    &:not(:last-child) {
      margin: 0px 5px 0px 0px;
    }
  }
}
.people_list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-flow: row;
  gap: 20px;
}
.people_item {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px 5px 0px 0px;
  }
}
.people_link {
  display: block;
}
.people_name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  font-size: 16px;
}

// PERSON
.person {
  display: flex;
  flex-direction: column;
  &_body {
    display: flex;
    flex-direction: column;
  }
  &_name {
    align-self: flex-start;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ae72c2;
    border-radius: 3px 3px 3px 0px;
    @include adaptiv-value('font-size', 18, 16, 1);
    @include adaptiv-value('padding', 12, 10, 1);
    @media (max-width: 630px) {
      margin: 0px 0px 10px 0px;
      border-radius: 3px;
    }
  }
  &_content {
    display: grid;
    grid-template: auto / 250px repeat(2, 1fr);
    grid-auto-flow: column;
    padding: 12px 0px 0px 16px;
    border-left: 5px solid #ae72c2;
    @include adaptiv-value('gap', 30, 25, 1);
    @media (max-width: 992px) {
      grid-template: repeat(2, auto) / 250px 1fr;
    }
    @media (max-width: 630px) {
      grid-template: repeat(3, auto) / auto;
      padding: 0;
      border-left: none;
    }
  }
  &_picture {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 350px;
      max-height: 100%;
      object-fit: cover;
      object-position: top center;
      border-radius: 5px;
    }
  }
  &_button {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    -webkit-filter: drop-shadow(0 0 2px #000);
    filter: drop-shadow(0 0 2px #000);
    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &_loading {
      pointer-events: none;
    }
    @media (max-width: 630px) {
      top: -14px;
      right: -4px;
    }
  }
  &_details {
    padding: 22px;
    background-color: rgba(#000, 0.65);
    border-radius: 5px;
    @media (max-width: 992px) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    @media (max-width: 630px) {
      grid-row: initial;
      grid-column: initial;
    }
  }
  &_info {
    color: #fff;
  }
  &_item {
    &:not(:last-child) {
      margin: 0px 0px 18px 0px;
    }
  }
  &_text {
    padding: 0px 0px 6px 0px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    span {
      text-shadow: 0 0 2px #fff, 0 0 12px #6a83fb;
    }
  }
  &_episodes {
    padding: 22px 0;
    @media (max-width: 992px) {
      padding: 0;
    }
    &_list {
      display: grid;
      grid-auto-flow: row;
      row-gap: 8px;
    }
    &_item {
      display: grid;
      grid-template-columns: auto;
      grid-auto-flow: column;
      column-gap: 8px;
      align-items: center;
      justify-content: start;
      font-size: 16px;
      color: #fff;
    }
    &_num {
      padding: 8px;
      white-space: nowrap;
      background-color: #f75d83;
      border-radius: 3px;
    }
    &_colon {
      font-weight: 600;
    }
    &_title {
      line-height: 115%;
      text-shadow: 0 0 2px #fff, 0 0 12px #ff0;
    }
  }
}

// SEARCH
.search {
  overflow: hidden;
  &_wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 50, 25, 1);
    }
    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      z-index: 5;
      transform: translateY(-50%);
    }
  }
  &_input {
    flex: 1 1 100%;
    min-height: 45px;
    padding: 10px 35px 10px 15px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: 2px solid #dfe2df;
    border-radius: 3px;
    transition: border-color 0.2s ease 0s;
    &::placeholder {
      color: rgba(#000, 0.6);
    }
    &:focus {
      border-color: #6a83fb;
    }
  }
  &_in_progress {
    width: 26px;
    height: 26px;
  }
  &_svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease 0s;
    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &_list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 10px;
    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 570px) {
      grid-template-columns: auto;
    }
  }
  &_item {
    width: auto;
    height: auto;
  }
  &_link {
    display: inline-flex;
    align-items: center;
    img {
      display: block;
      flex: 0 0 100px;
      height: 100px;
      margin: 0px 10px 0px 0px;
      border-radius: 3px;
      object-fit: cover;
      object-position: top center;
    }
  }
  &_name {
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 10px #6a83fb;
    white-space: nowrap;
  }
}

// FAVORITES
.my_favorites {
  overflow: hidden;
}
.favorites_list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-flow: row;
  grid-gap: 20px;
  gap: 20px;
}
.favorites_item {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}
.favorites_link {
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px 5px 0px 0px;
  }
}
.favorites_name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  font-size: 16px;
}

// GO BACK
.go_back_top {
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 45, 25, 1);
  }
}
.go_back_link {
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  svg {
    flex-grow: 0;
    flex-shrink: 0;
    @include adaptiv-value('flex-basis', 30, 18, 1);
    @include adaptiv-value('height', 30, 18, 1);
    fill: #ffff00;
    @include adaptiv-value('margin-right', 10, 8, 1);
    transition: fill 0.2s ease 0s, transform 0.2s ease 0s;
  }
  span {
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 600;
    color: #ffff00;
    transition: color 0.2s ease 0s;
  }
  &_init {
    @media (hover: hover) {
      &:hover {
        svg {
          fill: darken(#ffff00, 5%);
          transform: translateX(-3px);
        }
        span {
          color: darken(#ffff00, 5%);
        }
      }
    }
  }
  &_outlined {
    min-width: 250px;
    min-height: 38px;
    padding: 8px 10px;
    text-align: center;
    letter-spacing: 0.5px;
    background-color: #9a4eb3;
    border-radius: 6px;
    svg {
      flex: 0 0 22px;
      height: 22px;
      margin-right: 0;
      fill: #fff;
    }
    span {
      color: #fff;
      text-transform: capitalize;
    }
    @media (hover: hover) {
      &:hover {
        background-color: darken(#9a4eb3, 5%);
        svg {
          transform: translateX(-3px);
        }
      }
    }
  }
}

// NAVIGATION
.nav_links {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 35px 0px 0px 0px;
  @media (max-width: 768px) {
    justify-content: space-between;
  }
}
.nav_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: color 0.4s ease 0s, background-color 0.4s ease 0s;
  @include adaptiv-value('min-width', 135, 100, 1);
  @include adaptiv-value('min-height', 45, 40, 1);
  &_disabled {
    color: #9c9c9c;
    pointer-events: none;
    background-color: transparent;
    border-color: #9c9c9c;
  }
  @media (hover: hover) {
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

// NOT FOUND
.not_found {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  row-gap: 20px;
  justify-items: center;
  max-width: 600px;
  padding: 0 15px;
  text-align: center;
  transform: translate(-50%, -50%);
  img {
    @include adaptiv-value('width', 275, 220, 1);
    object-fit: cover;
  }
  &_text {
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 0px 2px #fff, 0px 0px 15px #6a83fb;
  }
}

// ERROR
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  &_text {
    @include adaptiv-value('font-size', 26, 20, 1);
    line-height: math.div(28px, 26px) * 100%;
    color: #ffff00;
    text-align: center;
    text-shadow: 0px 0px 2px #fff;
    letter-spacing: 1px;

    -webkit-text-stroke-color: #ffff00;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: transparent;
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }
  &_img {
    object-fit: cover;
    &_500 {
      @include adaptiv-value('width', 380, 280, 1);
      &:not(:last-child) {
        margin: 0px 0px 10px 0px;
      }
    }
    &_oops {
      @include adaptiv-value('width', 300, 200, 1);
      margin: 0px 0px 15px 0px;
    }
  }
}
.empty {
  &_title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}

// PRELOADER
.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  transform: translate(-50%, -50%);
  img {
    @include adaptiv-value('width', 140, 90, 1);
    @include adaptiv-value('height', 140, 90, 1);
    object-fit: cover;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
  }
  &_text {
    font-weight: 700;
    line-height: math.div(24, 20) * 100%;
    color: lighten(#f75d83, 5%);
    letter-spacing: 1px;
    @include adaptiv-value('font-size', 20, 18, 1);
  }
}
